body {
	background-repeat: no-repeat;
}
#wreapper {
	background-repeat: no-repeat;
	position: relative;
	width: 875px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}

#lok	{
	padding-left:25%;
	}
#content {
	background-color: #FFF;
	float: none;
	width: 840px;
	padding-right: 19px;
	margin-right: 10px;
	margin-top: 15px;
	font-family: "Century Gothic";
	line-height: normal;
	color: #000;
	height: auto;
	top: 100px;
}
.style3 {	font-size: 36px;
	color: #FF6600;
}
body,td,th {
	color: #FFF;
}